#discover {
  background: black;
  min-height: 76vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-content: center;

  .card-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 4%;
    position: relative;

    img {
      margin: auto;
      width: 90%;
      border-radius: 16px;
    }

    .img-caption {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 6%;

      h2 {
        color: white;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
      }

      button {
        width: 200px;
        height: 50px;
        border-radius: 40px;
        border: none;
        font-size: 1.15em;
        background-color: white;
        font-weight: bold;

        span {
          background :linear-gradient(90deg, #6F019C 0%, #C6017E 135.12%) !important;
          -webkit-background-clip: text !important;
          -webkit-text-fill-color: transparent !important;
        }
      }
    }
  }
}

#latest_locations {
}