.navbar {
    padding: 0 80px 0 80px !important;
    height: 80px;
    background-color: black;
    color: white;

    .container-fluid {
        padding: 0;

        .navbar-collapse {
            justify-content: space-between;

            .navbar-nav {

                .items {
                    position: relative;
                }

                .nav-item {
                    cursor: pointer;
                    text-align: center;
                    svg {
                        fill: #ffffff;
                    }

                    .nav-link {
                        color: white !important;
                        font-size: 16px;

                        &:not(.active):hover {
                            color: #adadad !important;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0px;
                            left: 45%;
                            width: 18px;
                            border-radius: 1px !important;
                            height: 2px;
                            border-bottom: 2px solid white;
                            transition: 0.2s -ms-transform;
                            transform: scaleX(1) !important;
                        }

                        &:not(.active)::after {
                            width: 5px;
                            display: none;
                        }
                    }

                    &:hover > .nav-link:not(.active)::after{
                        display: inline;
                        height: 5px;
                        border-bottom: 2px solid #adadad;
                        transition: height 0.15s ease-out, 0.15s;
                    }
                }
            }

            .devenez-hote {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-height: 34px;

                .navbar-nav {
                    height: 42px;
                    align-items: center;

                    &:first-child {
                        padding-right: 10px;

                        .nav-link {
                            border-radius: 18px;
                            font-weight: bold;
                            font-size: 14px;
                            padding: 10px;
                            height: 100%;
                        }
                    }

                    .nav-link::after {
                        display: none;
                    }

                    .nav-link:hover {
                        background-color: #333333;
                    }

                    .user-dropdown {
                        display: flex;
                        align-items: center;
                        position: relative;
                        width: 72px;
                        height: 42px;
                        justify-content: space-evenly;
                        background-color: #fff;
                        border-radius: 40px;

                        button {
                            display: flex;
                            align-items: center;
                            background-color: transparent;
                            border: none;

                            &:focus {
                                box-shadow: none;
                            }

                            &::after {
                                display: none;
                            }

                        }

                        .burger-icon svg {
                            fill: black;
                        }

                        .user-icon svg {
                            fill: gray;
                        }

                        .menu-connexion {
                            position: absolute;
                            top: 120%;
                            right: 0;
                            width: 220px;
                            background-color: white;
                            border: none;
                            border-radius: 10px;
                            display: none;
                            flex-direction: column;
                            padding-top: 10px;

                            div:not(.dropdown-divider) {
                                height: 38px;
                                cursor: pointer;
                                vertical-align: center;

                                &:hover {
                                    background-color: #eeeeee;
                                }

                                a {
                                    display: block;
                                    text-decoration: none;
                                    color: black;
                                    padding: 10px;
                                    cursor: pointer;
                                    &:hover {
                                        background-color: #eeeeee;
                                    }
                                }
                            }
                        }

                        .display-menu {
                            display: flex !important;
                        }
                    }
                }
            }
        }
    }
}
