.score {
    font-weight: bold;
    color: black;
}

.locations {
    display: flex;
    width: 100%;
    border-top: 1px solid #eeeeee;

    .locations-list {
        width: 55%;
        padding: 1.6%;

        p {
            font-size: 16px;
        }

        .element-separator {
            width: 100%;
            border-top: 1px solid #eeeeee;
        }

        .location {
            display: flex;
            height: 200px;
            text-decoration: none;
            color: black;
            margin-bottom: 1%;

            &:hover {
                background-color: white !important;
                cursor: pointer !important;
            }

            .carousel {
                width: 40%;
                padding: 2% 2% 2% 0;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 18px;
                }
            }

            .location-infos {
                width: 60%;
                padding: 1%;
                display: flex;
                flex-direction: column;

                .location-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .title {
                        overflow: hidden;
                        font-size: 18px;
                        font-weight: bold;
                    }

                    .heart {
                        height: 48px;
                        width: 48px;
                        border-radius: 24px;
                        background-color: inherit;
                        border: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color: #eeeeee;
                        }

                        svg {
                            display: block;
                            fill: transparent;
                            height: 24px;
                            width: 24px;
                            stroke: black;
                            stroke-width: 2;
                            overflow: visible;
                            padding: 0;
                        }
                    }
                }

                .location-separator {
                    width: 32px;
                    border-top: 1px solid #dddddd;
                    margin-top: 4px;
                    margin-bottom: 4px;
                }

                .location-body {

                    .location-body-line {
                        font-size: 14px;
                        color: rgb(107, 107, 107);
                    }
                }

                .location-footer {
                    margin-top: auto;

                    .price {
                        display: flex;
                        justify-content: flex-end;
                        font-size: 18px;

                        span {
                            font-weight: bold;
                        }
                    }

                    .bottom-section {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .score-section {
                            display: flex;
                            align-items: center;

                            svg {
                                color: rgb(255, 56, 92);
                            }

                            span:not(.score) {
                                font-size: 14px;
                                color: rgb(107, 107, 107);
                            }
                        }

                        .total {
                            font-size: 15px;
                            color: rgb(107, 107, 107);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    #map {
        width: 45%;
        height: auto;
        position: sticky;
    }
}

.price-icon {
    width: 40.46px;
    height: 28px;
    border-radius: 15px !important;
    font-size: 12px;
    box-shadow: 1px 1px lightgray, 1px 1px lightgray;

    button {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        border: none;
        background-color: white;
        border-radius: 15px !important;
        overflow: hidden;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
            z-index: 999;
        }
    }
}

.leaflet-popup {
    display: table;
    background: transparent !important;
}

.leaflet-popup-content-wrapper {
    background-color: transparent !important;
    overflow: auto !important;
    box-shadow: none !important;
}

.leaflet-popup-content {
    background-color: transparent !important;
    margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.map-popup {
    height: 300.66px;
    width: 274px;
    // box-shadow: 1px 1px 10px rgba(211, 211, 211, 0.685), 1px 1px 10px rgba(211, 211, 211, 0.685);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: visible !important;

    .popup-carousel {
        height: 60%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px 15px 0 0;
        }

        .img-caption {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 5%;
            right: 3%;

            button {
                width: 32px;
                height: 32px;
                border-radius: 40px;
                border: none;
                font-size: 1.15em;
                background-color: transparent;
                font-weight: bold;
                padding: 0;

                svg {
                    display: block;
                    fill: rgba(0, 0, 0, 0.5);
                    height: 24px;
                    width: 24px;
                    stroke: white;
                    stroke-width: 2;
                    overflow: visible;
                }
            }
        }
    }

    .popup-infos {
        height: 40%;
        padding: 4%;
        background-color: white;

        .popup-header {
            display: flex;
            align-items: center;

            svg {
                color: rgb(255, 56, 92);
            }
        }

        .popup-body-line {
            height: 25px;

            .popup-description {
                height: 100% !important;
                width: 100% !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .price {
            span {
                font-weight: bold;
            }
        }
    }
}

// Page single location
#single_location {
    display: flex;
    justify-content: center;

    .content {
        margin-top: 2%;
        width: 88%;

        .content-header {
            margin-bottom: 2%;

            .overview {
                display: flex;
                align-items: center;
                width: 300px;

                div {
                    font-size: 15px;
                    font-weight: bold;
                }

                div:not(:first-child) {
                    margin-left: 5px;
                }

                div:not(:last-child) {
                    margin-right: 5px;
                }

                .overview-score {

                    display: flex;
                    align-items: center;

                    svg {
                        color: rgb(255, 56, 92);
                    }
                }

                .overview-comments {
                    text-decoration: underline;
                }
            }

            .location-action {
                display: flex;

                .share {
                    margin-right: 5px;
                }

                button {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: none;
                    background: none;
                    border-radius: 9px;
                    padding: 4px;
                    font-size: 14px;
                    font-weight: bold;
                    text-decoration: underline;
                    height: 30px;
                    padding-left: 8px;
                    padding-right: 8px;

                    &:hover {
                        background-color: #f3f3f3;
                    }

                    a {
                        text-decoration: none;
                        background: none !important;
                    }

                    svg {
                        display: block;
                        fill: none;
                        height: 16px;
                        width: 16px;
                        stroke: currentcolor;
                        stroke-width: 2;
                        overflow: visible;
                        margin-right: 5px;
                    }
                }
            }
        }

        .location-images {
            display: flex;
            height: 368px;
            min-width: 300px;
            justify-content: space-between;
            margin-bottom: 3%;

            .main-image {
                max-height: 100%;
                width: 100%;

                img {
                    height: 100%;
                    max-width: 100%;
                    border-radius: 15px 0 0 15px;
                    object-fit: cover;
                }
            }

            .subimages {
                display: flex;
                justify-content: space-between;
                height: 100%;

                img {
                    height: 184px;
                    width: 269px;
                    padding-left: 7px;
                }

                .subimages-row-1 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between !important;
                    height: 100%;

                    .second-image{
                        img {
                            height: 176px !important;
                        }
                    }
                }

                .subimages-row-2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between !important;
                    height: 100%;

                    .first-image {
                        img{
                            border-radius: 0 15px 0 0;
                        }
                    }

                    .second-image{
                        position: relative;

                        img {
                            height: 176px !important;
                            border-radius: 0 0 15px 0;
                        }

                        .img-button {
                            position: absolute;
                            bottom: 15px;
                            right: 15px;
                            border: 1px solid black;
                            border-radius: 8px;
                            width: 225px;
                            height: 34px;
                            background-color: white;
                            
                            &:hover {
                                background-color: #f1f1f1;
                                cursor: pointer;
                            }

                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 100%;
                                width: 100%;
                                justify-content: space-around;
                                font-weight: bold;
                                border-radius: 8px;

                                &:hover {
                                    background-color: inherit;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}