<div class="p-5">
  <ul class="list-group list-group-horizontal justify-content-around w-75 m-auto">
    <li class="list-group">Confidentialité</li>
    <li class="list-group">Conditions générales</li>
    <li class="list-group">Plan du site</li>
    <li class="list-group">Fonctionnement du site</li>
    <li class="list-group">Infos sur l'entreprise</li>
  </ul>
</div>